@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --fonte01: 'Passion One', cursive;
    --fonte02: 'Sriracha', cursive;
}
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;;
}
body a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
}
body a:hover{
    text-decoration: underline;
}
header,footer{
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
}
header{
    height: 120px;
    padding-top: 60px;
}
header h1{
    font-size: 340%;
    font-family: var(--fonte01);
}
header p{
    font-size: 120%;
}
section{
    background-color: white;
    padding: 100px 20px 50px;
}
section p{
    font-family: var(--fonte02);
    font-size: 160%;
    margin-bottom: 50px;
}
section.destacado{
    min-height: 500px;
    position: relative;
}
section.destacado p{
    position: absolute;
    top: 80px;
    left: 5px;
    color: white;
    background-color: #0000003a;
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
}
section#destaque01{
    background: white url('imagens/background001.jpg') 70% center no-repeat fixed;
    background-size: cover;
}
section#destaque02{
    background: white url('imagens/background002.jpg') right center no-repeat fixed;
    background-size: cover;
}
footer p{
    font-size: 120%;
    padding: 10px;
}