@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
:root{
    --fonte_padrao: Arial, Helvetica, sans-serif;
}
body{
    background:#fff url('../_images/fundo-madeira.jpg') center center no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container_celular{
    background-image: url('../_images/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 470px;
    height: 99vh;
    background-color: transparent;
    position: relative;
}
.quadro{
    position: absolute;
    top: 51.4%;
    left: 51%;
    transform: translate(-51.2%,-51.5%);
    width: 405px;
    height: 745px;
}
.conteudo{
    background-image: url('../_images/tela-home.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.botoes{
    width: 80px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
}

.botoes img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 16px 0;
    box-shadow: 2px 2px 8px #000000af;
}
.botoes img:hover{
    transform: scale(1.1);
}