@charset "UTF-8";
.cinza{
    background-color: #d4d4d4;
    color: #333333;
}
.verde{
    background-color: #84ec7a;
    color: #086300;
}
.amarelo{
    background-color: #edff9b;
    color: #d68812;
}